.dokme {
    background-color: rgb(8, 8, 92);
    color: white;
    padding: 7px 15px;
}

.dokme:hover {
    background-color: rgb(110, 108, 115);
    color: rgb(8, 8, 92);
    
}

header {
    padding: 10px;
    margin: 0;
    margin: 7px;
    border: 5px double black;
    background-image: url(./media/image.jpg);
    background-size: 600px 450px;
}

.text {
    background-color: cyan;
    margin-left: 1290px;
    padding: 7px 15px;
}